.container{
    text-align: center;
}
table{
     margin:auto
}
button{
    background-color: rgb(216, 104, 24);
    color: beige;
    width: 47px;
    height: 40px;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid white;
}
input{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    border: 2px solid rgb(237, 115, 8);
    width: 200px;
    height: 26px;
    margin-top: 6px;
}
.demo{
    border: 10px;
    background-color: black;
    align-content: center;
    width: 238px;
    height: 268px;
    margin: auto;
    border-radius: 10px;
}
button:hover{
    opacity: 0.7;
    font-weight: bold;
    cursor: pointer;
    width: 48px;
}
input:hover{
    cursor:cell;
}
h1{
    text-transform:capitalize;
}
.c{
    background-color:rgb(242, 14, 25);
    border: 2px solid rgb(192, 96, 244);
}
#yes{
    background-color: rgb(0, 255, 34);
}
#yes:hover{
    color: black;
    width: 68px;
    transition-property: width;
    transition-duration: 0.5s;
}